*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #4fcc00; }

label {
  display: block; }

.container {
  width: 90%;
  max-width: 992px;
  margin: 0 auto;
  position: relative; }

header {
  background-color: #f2f2f2;
  height: 167px; }
  header h1, header ul {
    margin: 0;
    padding: 0; }
  header h1 {
    color: #4fcc00;
    font-weight: 100;
    position: absolute;
    top: 90px; }
  header nav {
    float: left; }
  header ul {
    list-style: none; }
  header a {
    text-decoration: none; }

#main-nav {
  background-color: #fff;
  padding: 12px 0;
  font-size: 80%;
  width: 33.33333%;
  text-align: center;
  -webkit-box-shadow: 0 0 4px #bbbbbb;
  -moz-box-shadow: 0 0 4px #bbbbbb;
  box-shadow: 0 0 4px #bbbbbb; }
  #main-nav a {
    text-align: center;
    margin: 0 3%; }

#search-nav {
  width: 25%;
  margin-left: 33.33333%; }
  #search-nav input {
    width: 100%; }

#settings-nav {
  width: 8.33333%; }
  #settings-nav ul {
    display: none; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }
