*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #858585; }

h1 {
  color: #4fcc00;
  font-weight: 100; }

a {
  color: #4fcc00; }

table {
  font-size: 0.85rem;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

label {
  display: block;
  margin-bottom: 5px; }

input, select {
  width: 100%;
  border: 1px solid #ddd;
  font-size: 0.85rem;
  padding: 4px;
  height: 30px; }

@media (max-width: 681px) {
  .input-group {
    margin-bottom: 1.5rem; } }

.btn {
  border: none;
  padding: 10px;
  display: inline-block; }

.btn-primary {
  background-color: #4fcc00;
  color: #fff; }

.btn-cancel {
  text-decoration: none;
  font-size: 0.85rem;
  padding: 12px; }

.help-text {
  color: rgba(133, 133, 133, 0.75);
  font-style: italic;
  font-size: small;
  clear: both; }

.is-required label, .is-required .help-text {
  color: #f00; }
.is-required input, .is-required select {
  border-color: #f00; }

.container {
  width: 90%;
  max-width: 992px;
  margin: 0 auto;
  position: relative; }

.row {
  clear: both;
  margin-bottom: 1.5rem; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  @media (max-width: 681px) {
    .row {
      margin-bottom: 0; } }

.col-1 {
  width: 8.33333%;
  float: left; }
  @media (max-width: 681px) {
    .col-1 {
      width: 100%;
      float: none; } }

.col-2 {
  width: 16.66667%;
  float: left; }
  @media (max-width: 681px) {
    .col-2 {
      width: 100%;
      float: none; } }

.col-3 {
  width: 25%;
  float: left; }
  @media (max-width: 681px) {
    .col-3 {
      width: 100%;
      float: none; } }

.col-4 {
  width: 33.33333%;
  float: left; }
  @media (max-width: 681px) {
    .col-4 {
      width: 100%;
      float: none; } }

.col-5 {
  width: 41.66667%;
  float: left; }
  @media (max-width: 681px) {
    .col-5 {
      width: 100%;
      float: none; } }

.col-6 {
  width: 50%;
  float: left; }
  @media (max-width: 681px) {
    .col-6 {
      width: 100%;
      float: none; } }

.col-7 {
  width: 58.33333%;
  float: left; }
  @media (max-width: 681px) {
    .col-7 {
      width: 100%;
      float: none; } }

.col-8 {
  width: 66.66667%;
  float: left; }
  @media (max-width: 681px) {
    .col-8 {
      width: 100%;
      float: none; } }

.col-9 {
  width: 75%;
  float: left; }
  @media (max-width: 681px) {
    .col-9 {
      width: 100%;
      float: none; } }

.col-10 {
  width: 83.33333%;
  float: left; }
  @media (max-width: 681px) {
    .col-10 {
      width: 100%;
      float: none; } }

.col-11 {
  width: 91.66667%;
  float: left; }
  @media (max-width: 681px) {
    .col-11 {
      width: 100%;
      float: none; } }

.col-12 {
  width: 100%;
  float: left; }
  @media (max-width: 681px) {
    .col-12 {
      width: 100%;
      float: none; } }

.gutter {
  margin-right: 8.33333%; }
  @media (max-width: 681px) {
    .gutter {
      margin-right: 0; } }

#app-nav {
  background-color: #4fcc00;
  position: relative;
  -webkit-box-shadow: 0 0 4px #bbbbbb;
  -moz-box-shadow: 0 0 4px #bbbbbb;
  box-shadow: 0 0 4px #bbbbbb; }
  #app-nav:before, #app-nav:after {
    content: " ";
    display: table; }
  #app-nav:after {
    clear: both; }
  #app-nav a {
    color: #fff;
    text-decoration: none;
    padding: 18px 0;
    display: inline-block; }

#main-nav {
  font-size: 0.85rem;
  float: left;
  position: relative; }
  @media (max-width: 681px) {
    #main-nav {
      width: 25%; } }
  #main-nav a {
    text-align: center;
    margin-right: 1.5rem; }
    @media (max-width: 681px) {
      #main-nav a {
        margin: 0; } }
  #main-nav .nav-menu {
    text-align: left;
    display: none; }
    @media (max-width: 681px) {
      #main-nav .nav-menu {
        display: block; } }
  @media (max-width: 681px) {
    #main-nav nav {
      display: none;
      background-color: #fff;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 999;
      -webkit-box-shadow: 0 0 4px #bbbbbb;
      -moz-box-shadow: 0 0 4px #bbbbbb;
      box-shadow: 0 0 4px #bbbbbb; }
      #main-nav nav a {
        display: block;
        color: #4fcc00;
        padding: 6px 0; }
    #main-nav:hover nav {
      display: block; } }

#search-nav {
  float: right; }
  @media (max-width: 681px) {
    #search-nav {
      width: 50%; } }
  #search-nav input {
    width: 80%;
    border: none; }
  #search-nav .btn {
    display: inline;
    color: #4fcc00;
    margin-top: 11px;
    padding: 4px;
    height: 30px;
    font-size: 0.85rem;
    background-color: #fff; }

#settings-nav {
  float: right;
  margin-left: 1.5rem;
  text-align: center;
  font-size: 0.85rem;
  position: relative; }
  @media (max-width: 681px) {
    #settings-nav {
      width: 25%;
      margin: 0;
      text-align: right; } }
  #settings-nav nav {
    display: none;
    background-color: #fff;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 999;
    -webkit-box-shadow: 0 0 4px #bbbbbb;
    -moz-box-shadow: 0 0 4px #bbbbbb;
    box-shadow: 0 0 4px #bbbbbb; }
    #settings-nav nav a {
      display: block;
      color: #4fcc00;
      padding: 6px 0; }
  #settings-nav:hover nav {
    display: block; }

.table-summary th, .table-summary td {
  text-align: left;
  padding: 8px 3px; }
  .table-summary th:first-child, .table-summary td:first-child {
    text-align: center; }
.table-summary th {
  border-bottom: 2px solid #ddd;
  padding-top: 0; }
.table-summary td {
  border-top: 1px solid #ddd; }
.table-summary tfoot td {
  font-weight: bold;
  background-color: #f2f2f2; }
  .table-summary tfoot td:first-child {
    text-align: right; }

.cf:before, .cf:after {
  content: " ";
  display: table; }
.cf:after {
  clear: both; }

.float-right {
  float: right !important; }

.float-left {
  float: left !important; }
