$brand-primary: #4FCC00;

$single-grid: 100%/12;

$font-small: 0.85rem;
$font-large: 1.2rem;

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

h1 {
    color: $brand-primary;
    font-weight: 100;
}

a {
    color: $brand-primary;
}

label {
    display: block;
}

.container {
    width: 90%;
    max-width: 992px;
    margin: 0 auto;
    position: relative;
}

#app-nav {
    background-color: $brand-primary;
    height: 40px;
    padding: 12px 0;
    -webkit-box-shadow: 0 0 4px #bbbbbb;
       -moz-box-shadow: 0 0 4px #bbbbbb;
            box-shadow: 0 0 4px #bbbbbb;
    a {
        color: #fff;
        text-decoration: none;
    }
}

#main-nav {
    font-size: $font-small;
    text-align: center;
    float:left;
    a {
        text-align: center;
        margin-right: 1.5rem;
        display: block;
        float: left;
    }
}

#search-nav {
    width: $single-grid*2;
    input {
        width: 100%;
    }
}

#settings-nav {
    float: right;
    text-align: center;
    font-size: $font-small;
    nav {
        display: none;
        background-color: #fff;
        a {
            display: block;
        }
    }
    &:hover nav {
        display: block;
    }
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}