//variables
$brand-primary: #4FCC00;
$text-primary: #858585;
$single-grid: 100%/12;
$font-small: 0.85rem;
$margin-default: 1.5rem;
$breakpoint: 681px;

//mixins
@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin nav-box-shadow {
    -webkit-box-shadow: 0 0 4px #bbbbbb;
       -moz-box-shadow: 0 0 4px #bbbbbb;
            box-shadow: 0 0 4px #bbbbbb;
}

@mixin nav-dropdown {
    nav {
        display: none;
        background-color: #fff;
        position: absolute;
        left:0;
        right:0;
        z-index: 999;
        @include nav-box-shadow;
        a {
            display: block;
            color: $brand-primary;
            padding: 6px 0;
            text-align: center;
        }
    }
    &:hover nav {
        display: block;
    }
}

//basics
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    color: $text-primary;
}

h1 {
    color: $brand-primary;
    font-weight: 100;
}

a {
    color: $brand-primary;
}

table {
    font-size: $font-small;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    border: 1px solid #ddd;
    font-size: $font-small;
    padding: 4px;
    height: 30px;
}

.input-group {
    @media (max-width: $breakpoint) {
        margin-bottom: $margin-default;
    }
}

.btn {
    border: none;
    padding: 10px;
    display: inline-block;
}

.btn-primary {
    background-color: $brand-primary;
    color: #fff;
}

.btn-cancel {
    text-decoration: none;
    font-size: $font-small;
    padding: 12px;
}

.help-text {
    color: fade-out($text-primary, 0.25);
    font-style: italic;
    font-size: small;
    clear: both;
}

.is-required {
    label, .help-text {
        color: #f00;
    }
    input, select {
        border-color: #f00;
    }
}

.container {
    width: 90%;
    max-width: 992px;
    margin: 0 auto;
    position: relative;
}

.row {
    @include clearfix;
    clear: both;
    margin-bottom: $margin-default;
    @media (max-width: $breakpoint) {
        margin-bottom: 0;
    }
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: $single-grid * $i;
        float: left;
        @media (max-width: $breakpoint) {
            width: 100%;
            float: none;
        }
    }
}

.gutter {
    margin-right: $single-grid;
    @media (max-width: $breakpoint) {
        margin-right: 0;
    }
}

//navigation
#app-nav {
    @include clearfix;
    background-color: $brand-primary;
    position: relative;
    @include nav-box-shadow;
    a {
        color: #fff;
        text-decoration: none;
        padding: 18px 0;
        display: inline-block;
    }
}

#main-nav {
    font-size: $font-small;
    float:left;
    position: relative;
    @media (max-width: $breakpoint) {
        width: $single-grid*3;
    }
    a {
        text-align: center;
        margin-right: $margin-default;
        @media (max-width: $breakpoint) {
            margin: 0;
        }
    }
    .nav-menu {
        text-align: left;
        display: none;
        @media (max-width: $breakpoint) {
            display: block;
        }
    }
    @media (max-width: $breakpoint) {
        @include nav-dropdown;
    }
}

#search-nav {
    float: right;
    width: $single-grid*4;
    @media (max-width: $breakpoint) {
        width: $single-grid*6;
    }
    input {
        width: 80%;
        border:none;
    }
    .btn {
        display: inline;
        color: $brand-primary;
        margin-top:11px;
        padding: 4px;
        height: 30px;
        font-size: $font-small;
        background-color: #fff;
    }
}

#settings-nav {
    float: right;
    margin-left: $margin-default;
    text-align: center;
    font-size: $font-small;
    position: relative;
    @media (max-width: $breakpoint) {
        width: $single-grid*3;
        margin: 0;
        text-align: right;
    }
    @include nav-dropdown;
}

//order table
.table-summary {
    th, td {
        text-align: left;
        padding: 8px 3px;
        &:first-child {
            text-align: center;
        }
    }
    th {
        border-bottom: 2px solid #ddd;
        padding-top: 0;
    }
    td {
        border-top: 1px solid #ddd;
    }
    tfoot td {
        font-weight: bold;
        background-color: #f2f2f2;
        &:first-child {
            text-align: right;
        }
    }
}

//helpers
.cf {
    @include clearfix;
}
.float-right {
    float: right !important;
}
.float-left {
    float: left !important;
}