//variables
$brand-primary: #4FCC00;
$single-grid: 100%/12;
$font-small: 0.85rem;
$font-large: 1.2rem;

//mixins
@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//basics
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    color: #858585;
}

h1 {
    color: $brand-primary;
    font-weight: 100;
}

a {
    color: $brand-primary;
}

label {
    display: block;
    margin-bottom: 3px;
}

.container {
    width: 90%;
    max-width: 992px;
    margin: 0 auto;
    position: relative;
}


//navigation
#app-nav {
    @include clearfix;
    background-color: $brand-primary;
    -webkit-box-shadow: 0 0 4px #bbbbbb;
       -moz-box-shadow: 0 0 4px #bbbbbb;
            box-shadow: 0 0 4px #bbbbbb;
    a {
        color: #fff;
        text-decoration: none;
        padding: 18px 0;
        display: inline-block;
    }
}

#main-nav {
    font-size: $font-small;
    text-align: center;
    float:left;
    a {
        text-align: center;
        margin-right: 1.5rem;
    }
}

#search-nav {
    width: $single-grid*3;
    float: right;
    input {
        width: 80%;
    }
    input, button {
        display: inline;
        margin-top:13px;
        border:none;
        padding: 4px;
        font-size: $font-small;
        background-color: #fff;
    }
}

#settings-nav {
    float: right;
    width: $single-grid;
    margin-left: 1.5rem;
    text-align: center;
    font-size: $font-small;
    position: relative;
    nav {
        display: none;
        background-color: #fff;
        position: absolute;
        left:0;
        right:0;
        z-index: 999;
        -webkit-box-shadow: 0 0 4px #bbbbbb;
           -moz-box-shadow: 0 0 4px #bbbbbb;
                box-shadow: 0 0 4px #bbbbbb;
        a {
            display: block;
            color: $brand-primary;
            padding: 6px 0;
        }
    }
    &:hover nav {
        display: block;
    }
}

//main
main {
    width: $single-grid*8;
    float: left;
    .row {
        @include clearfix;
        clear: both;
        margin-bottom: 20px;
        .col {
            width: $single-grid*3;
            margin-right: $single-grid;
            float: left;
            input, select {
                width: 100%;
            }
        }
    }
}

//sidebar
aside {
    width: $single-grid*3;
    margin-left: $single-grid;
    float: left;
}

//helpers
.cf {
    @include clearfix;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}